
<div class="card">
    <div class="card-header">
        <h4><a class="link" href="/products/{{id}}">{{product_name}}</a></h4>
        <p>Product: {{product_name}}</p>
        <p>Description: {{prod_desc}}</p>
        <p>Posted by {{user.email}}</p>
    </div>
        <p class="card-body">{{product}}</p>
</div>