<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

<title>mnmlize</title>
<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="/stylesheet/style.css">
<script>
function allowDrop(ev) {
  ev.preventDefault();
}

function drag(ev) {
  ev.dataTransfer.setData("text", ev.target.textContent);
}

function drop(ev) {
  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");
  ev.target.appendChild(document.getElementById(data));
}
</script>
</head>

{{#if products.length}}

  <h2 class="center">Your product suggestion</h2>
  <h5 class="center">Drag and drop into calendar</h5>
  <div class="cat-list center">
  <select id="person" style="visibility:hidden">
    {{#each products as |product|}}        
       <option id ="daily" value="{{product.category_id}}" name="prod-cat">{{product.category_id}}/{{product.product_name}}/{{product.stock}}/{{format_date product.exp_date}}</option>
    {{/each}}
  </select>
  </div>
  <div class="cat-list ">
    <p class="body-temp" id='name'>Product Name: <button class="categorybtn"> <span draggable="true" ondragstart="drag(event)" id="nm"></span></button></p>
    <p class="body-temp" id='stock'>Product Stock: <span id="st" style="font-weight: 800;"></span></p>
    <p class="body-temp" id="exp">Product Expiry date: <span id="ex" style="font-weight: 800;"></span></p>
  </div>
{{else}}
<h6 class="body-temp">You do not have products</h6>
{{/if}}

<script src="/javascript/daily-suggestion.js"></script>