<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

<title>mnmlize</title>
<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="/stylesheet/style.css">
</head>

{{#if products.length}}

  
   <ul>
    {{#each products as |product| }}
    <li>
        <div class="medicine" style="font-size: 3vm;">
            <input type="checkbox" class="prod-check" id="{{product.id}}" name="{{product.product_name}}" value="{{product.id}}">
            <label for="{{product.id}}">{{product.product_name}}</label><br>
        </div>
    </li>
    {{/each}}
   </ul>

   <div>
        <button class="categorybtn">Delete</button>
    </div>
  


{{else}}
<h6>You do not have any products in your inventory.</h6>
{{/if}}

<script src="/javascript/delete-product.js"></script>