<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

<title>mNmLize</title>
<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="/stylesheet/style.css">
</head>

<div class="medicine">

    <form class="card-body edit-post-form">
        <div>
        <label for="product-title" class="form-label">Product</label>
        <input name="product-title" type="text" value="{{product.product_name}}" class="form-input" />
        </div>
        <div>
        </div>
        <div>
        <label for="price" class="form-label" >Price</label>
        <input name="price" type="text" value="{{product.price}}" class="form-input" />
        </div>
        <div>
        <label for="stock" class="form-label" >Stock</label>
        <input name="stock" type="text" value="{{product.stock}}" class="form-input" />
        </div>
        <div>
         <label for="mfg_date" class="form-label" >Manufacturing Date : </label>
        <input name="mfg_date" type="date" value={{format_date product.mfg_date}} class="form-input" placeholder="yyyy-mm-dd" />
        </div>
        <div>
        <label for="exp_date" class="form-label" >Expiration Date</label>
        <input name="exp_date" type="date" value={{format_date product.exp_date}} class="form-input" placeholder="yyyy-mm-dd" />
        </div>
        <div>
        <label for="author_name" class="form-label" >Creator</label>
        <input name="author_name" type="text" value="{{product.author_name}}" class="form-input" />
        </div>
        <div>
             <label for="prod-desc" class="form-label" >Description</label>
        <input name="prod-desc" type="text" value="{{product.prod_desc}}" class="form-input" />
        <button type="submit" class="btn">Update Product</button>
        {{!--<button type="button" class="delete-prod-btn btn">Delete Product</button>--}}
        </div>
    </form>
</div>


<script src="/javascript/edit-product.js"></script>
{{!--<script src="/javascript/delete-product.js"></script>--}}